.red-border-section{                
  outline: 2px solid red !important;                
}

#customize-control-btn_position_setting_selector_btn {
  position: relative;
  text-align: center;    
  overflow: hidden;          
  padding-bottom: 1em;
  padding-top: 1em;
}

#_customize-input-btn_position_setting_selector_btn{
  width: inherit;
  height: 3em;  
}

#customize-control-btn_position_setting_selector_btn > .customize-control-notifications-container {
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: unset !important;
}
#customize-control-btn_position_setting_selector_btn > .customize-control-notifications-container:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}
#customize-control-btn_position_setting_selector_btn > .customize-control-notifications-container:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

#customize-control-btn_position_setting_selector_btn > .customize-control-notifications-container {
  -moz-animation: anim-out 0.75s infinite;
  -webkit-animation: anim-out 0.75s infinite;
  animation: anim-out 0.75s infinite;
}
#customize-control-btn_position_setting_selector_btn > .customize-control-notifications-container:after {
  -moz-animation: anim-out-pseudo 0.75s infinite;
  -webkit-animation: anim-out-pseudo 0.75s infinite;
  animation: anim-out-pseudo 0.75s infinite;
}

@-webkit-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}