.tab-wrapped{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
.ui.tab .fields{
	margin:0 0 1em !important;
}

.ui.tab>.fields>.field{
	padding-left: 0 !important;	
}

#wpfooter{
	position: relative !important;
}

.notice, div.error, div.updated{
	margin: 5px 2px !important;
}