.flipswitch {
.flipswitch {
  position: relative;
  width: 106px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #999999;
  border-radius: 0px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "SHOW";
  padding-left: 19px;
  background-color: #08992E;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "HIDE";
  padding-right: 19px;
  background-color: #FF0000;
  color: #FFFFFF;
  text-align: right;
}
.flipswitch-switch {
  width: 34px;
  margin: -2px;
  background: #000000;
  border: 0px solid #999999;
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 74px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

.customize-button:after{
	content: "YES ";
	padding-right: 26px;
 	background-color: #FF0000;
  	color: #FFFFFF;
  	text-align: right;
}
.customize-button:before {
  content: " NO ";
  padding-left: 26px;
  background-color: #08992E;
  color: #FFFFFF;
}

.dropdown-button:after{
	content: "YES ";
	padding-right: 26px;
 	background-color: #08992E;
  	color: #FFFFFF;
  	text-align: right;
}
.dropdown-button:before {
  content: " NO ";
  padding-left: 26px;
  background-color: #FF0000;
  color: #FFFFFF;
}